class trans extends uvm_sequence_item;

  rand bit wr_cs;
  rand bit rd_cs;
  rand bit wr_en;
  rand bit rd_en;
  randc logic [`DATA_WIDTH-1:0]data_in;
  logic [`DATA_WIDTH-1:0]data_out;
  logic full;
  logic empty;

 `uvm_object_utils_begin(trans)

 `uvm_field_int(wr_cs,UVM_ALL_ON|UVM_DEC)
 `uvm_field_int(rd_cs,UVM_ALL_ON|UVM_DEC)
 `uvm_field_int(wr_en,UVM_ALL_ON|UVM_DEC)
 `uvm_field_int(rd_en,UVM_ALL_ON|UVM_DEC)
 `uvm_field_int(data_in,UVM_ALL_ON|UVM_DEC)
 `uvm_field_int(data_out,UVM_ALL_ON|UVM_DEC)
 `uvm_field_int(full,UVM_ALL_ON|UVM_DEC)
 `uvm_field_int(empty,UVM_ALL_ON|UVM_DEC)
 `uvm_object_utils_end

function new(string name="trans");
  super.new(name);
 endfunction
endclass
